{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
	
	<title>Codenza</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link href="//fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>

<body>

<div class="col-sm-4"></div>

<div class="col-sm-4">

	<h3>Programming Language: <h4>{{ extension }}</h4></h3>
	<br><br><br>

	<h3>Code Input by User:</h3>

	<h4>
		{{ code }}
	</h4>

	<br><br><br>

	<h3>Code Output:</h3>

	<h4> {{ output }}</h4>

</div>

<div class="col-sm-4"></div>

</body>

</html>



